#cboxContent.newsletterbox #cboxLoadedContent {
    width: 50% !important;
}
.block-subscribe.block-subscribe-popup{
    text-align: center;
    margin: 100px 0 0px;
    padding: 0 13px;
}
.block-subscribe.block-subscribe-popup .block-title{
    float: none;
    border-bottom: 1px solid #fff;
    text-align: center;
    padding: 0 0 10px;
    margin: 0 0 20px !important;
    float: none !important;
}
.block-subscribe.block-subscribe-popup .block-title span {
    border: medium none;
    color: #fff !important;
    font-size: 36px;
    font-weight: 600;
}
.block-subscribe.block-subscribe-popup .intro p{color: #fff;font-weight: 300;}
.block-subscribe.block-subscribe-popup .block-content .input-box,
.block-subscribe.block-subscribe-popup .block-content .actions{
    height: auto;
	text-align: center;
    float: none !important;
    border: none;
    padding: 0;
}
.block-subscribe.block-subscribe-popup .block-content .actions button.button{
    background-color: #fff;
}
.block-subscribe.block-subscribe-popup .block-content .actions button.button:hover{
    background-color: #000;
}
.block-subscribe.block-subscribe-popup .block-content .actions button.button:hover span{
    color: #fff;
}
.block-subscribe.block-subscribe-popup .block-content .actions button.button span{
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 22px;
    color: #000;
}
.block-subscribe.block-subscribe-popup .block-content .actions button.button span span{padding: 0;}
.block-subscribe.block-subscribe-popup .block-content .input-box input.input-text{
    width: 100%;
    text-align: center;
    float: none !important;
    height: 40px;
    line-height: 40px;
    background-color: #c7c7c7;
}
.block-subscribe.block-subscribe-popup .block-content .actions{
    padding: 15px 0;
    float: none !important;
}
.block.block-subscribe.block-subscribe-popup .block-content{text-align: center;}
.block.block-subscribe.block-subscribe-popup .block-content .subcriper_label{
    color: #fff;
    font-weight: normal;
    line-height: 25px;
    margin: 0;
}
.block.block-subscribe.block-subscribe-popup .block-content .subcriper_label input{
    margin: 0;
}
.block.block-subscribe.block-subscribe-popup .validation-advice{ width: 100%;line-height: 20px;background-position: 50px 5px;}